In [1]:
import pandas as pd
dataframe1 = get_fundamentals( query(indicator).filter(
indicator.roe >20
                              )
                              , date='2018-08-01')
dataframe1['code']

0     000717.XSHE
1     000720.XSHE
2     000927.XSHE
3     002188.XSHE
4     300251.XSHE
5     300272.XSHE
6     300618.XSHE
7     600198.XSHG
8     600247.XSHG
9     600319.XSHG
10    600671.XSHG
11    600877.XSHG
Name: code, dtype: object

In [2]:
import pandas as pd
dataframe1 = get_fundamentals( query(indicator).filter(
indicator.roe > 15  ,
indicator.roa > 8
                              )
                              , date='2018-08-01')
dataframe1['code']

0    000720.XSHE
1    002709.XSHE
2    300176.XSHE
3    300251.XSHE
4    300272.XSHE
5    300618.XSHE
6    600516.XSHG
Name: code, dtype: object

In [3]:
dataframe1 = get_fundamentals( query(indicator).filter(
valuation.turnover_ratio > 15  ,
balance.total_current_assets > balance.total_current_liability  ,
cash_flow.subtotal_operate_cash_inflow > cash_flow.subtotal_operate_cash_outflow ,
income.net_profit > 10000  ,
indicator.gross_profit_margin > 20 

                              )
                              , date='2018-08-01')
dataframe1['code']

0    002866.XSHE
1    002922.XSHE
2    300046.XSHE
3    300492.XSHE
4    300586.XSHE
5    300731.XSHE
6    603713.XSHG
7    603895.XSHG
Name: code, dtype: object